@import "tailwindcss";

.chat-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-list {
  color: white;
  margin-bottom: 1rem;
  max-height: 16rem;
  overflow-y: auto;
  width: 90%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.message-bubble {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  border-radius: 99px;
  word-wrap: break-word;
}

.own-message {
  background-color: white;
  color: black;
  align-self: flex-end;
  text-align: right;
}

.other-message {
  background-color: #4a4a4a;
  color: white;
  align-self: flex-start;
  text-align: left;
}

.own-message .message-text,
.other-message .message-text {
  margin: 0;
  font-size: 20px;
}

.own-message .message-user,
.other-message .message-user {
  margin: 0;
  font-size: 10px;
}

.own-message .message-text,
.own-message .message-user {
  background-color: white;
  color: black;
}

.other-message .message-text,
.other-message .message-user {
  background-color: #4a4a4a;
  color: rgb(246, 246, 246);
}

.input-section {
  display: flex;
  gap: 0.5rem;
  width: 60%;
  justify-content: center;
  flex-wrap: wrap;
}

.message-input {
  flex: 1;
  min-width: 50%;
  padding: 0.5rem 2rem;
  border-radius: 0.375rem;
  background-color: #333;
  color: white;
  border: none;
  outline: none;
}

.chat-button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.chat-button:hover {
  background-color: #4a4a4a;
  color: white;
}

/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {
  .message-bubble {
    max-width: 90%;
  }

  .input-section {
    flex-direction: column;
    align-items: stretch;
  }

  .message-input,
  .chat-button {
    width: 100%;
    margin-top: 0.25rem;
  }
}
